.carousel-item img{
    height: 700px;
    width: 500px;
    object-fit: cover;
}
.card-img-top{
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 500px;
}
.carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}

